


body{ 
	background-position-x: center; 
	background-position-y: top; 
	color: rgb(255, 255, 255); 
	float: none; 
	font-size: 2rem; 
	font-weight: bold; 
	letter-spacing: 0rem; 
	text-align: left; 
	word-spacing: 1rem; 
	z-index: 0; 
	padding: 0;
	margin: 0;
}


#id_311058{ 
	background-color: #094a8c; 
}


#id_311060{ 
	background-color: #094a8c; 
	color: rgb(255, 255, 255); 
	float: none; 
	font-family: Arial; 
	font-size: 2rem; 
	height: 4em; 
	left: 10%; 
	letter-spacing: 0em; 
	position: absolute; 
	text-align: center; 
	top: 20%; 
	width: 13em; 
	word-spacing: 0em; 
	z-index: 0; 
}


#id_311061{ 
	background-color: #094a8c; 
	color: rgb(255, 255, 255); 
	float: right; 
	font-family: Arial; 
	font-size: 2rem; 
	height: 4em; 
	max-width: 400px; 
	position: absolute; 
	right: 10%; 
	top: 20%; 
	width: 13em; 
}


#id_311064{ 
	left: -13%; 
	position: absolute; 
	top: 33%; 
}


#id_311081{ 
	left: 4%; 
	min-width: 3px; 
	position: absolute; 
	top: 22%; 
}


#id_311082{ 
	left: 58%; 
	min-width: 3px; 
	position: absolute; 
	top: 22%; 
}


#id_311083{ 
	background-color: #094a8c; 
	background-position-x: center; 
	background-position-y: bottom; 
	color: rgb(255, 255, 255); 
	font-family: Arial; 
	font-size: 2rem; 
	height: 4em; 
	left: 10%; 
	letter-spacing: 0rem; 
	position: absolute; 
	text-align: center; 
	top: 55%; 
	width: 13em; 
	word-spacing: 0rem; 
}


#id_311084{ 
	background-color: #094a8c; 
	color: rgb(255, 255, 255); 
	font-family: Arial; 
	font-size: 2rem; 
	height: 4em; 
	letter-spacing: 0rem; 
	position: absolute; 
	right: 10%; 
	text-align: center; 
	top: 55%; 
	width: 25rem; 
	word-spacing: 0rem; 
}


#id_311085{ 
	left: 4%; 
	position: absolute; 
	top: 56%; 
}

